{% if product.metafields.bookthatapp.config or product.metafields.bookthatapp.config_json %}
{% unless bta_configured %}
<div class="booking-form">
    {% comment %}
    <div class="bta-resource-picker"></div>
    {% endcomment %}

	<div>
	  {% capture attribute %}booking-start{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Date:</label>
	  <input id="{{ attribute }}-{{ product.handle }}" type="text" name="properties[Date]" size="12"
             class="datepicker bta required bta-load-enable bta-dp-start" disabled="disabled"
             data-handle="{{ product.handle }}" data-variant="{{ product.selected_or_first_available_variant.id }}"
             {% if product.metafields.bookthatapp.config_json %}
               data-bta-product-config='{{ product.metafields.bookthatapp.config_json | json }}'
             {% else %}
               data-bta-product-config="{{ product.metafields.bookthatapp.config }}"
             {% endif %}
             data-time=""
             placeholder="Select date..." />
	</div>

	<div>
	  {% capture attribute %}booking-time{% endcapture %}
	  <label for="{{ attribute }}-{{ product.handle }}">Time:</label>
	  <select id="{{ attribute }}-{{ product.handle }}" name="properties[Time]" class="bta-time bta-load-enable"
	          data-datepicker="booking-start-{{ product.handle }}">
	      {% comment %}
	      Add time slots here: e.g. <option value="09:00">9:00 am</option>
	      {% endcomment %}
	  </select>
	</div>

	<div class="bta-validation-messages" style="display:none">
		<p class="bta-validation-date-missing">Please select a date</p>
	</div>
</div>

<script>
	// prevent form submit until bta has finished loading
  document.addEventListener("DOMContentLoaded", function(event) {
    var forms = document.forms;
    for (var x = 0; x < forms.length; x++) {
      if (forms[x].action.indexOf('/cart/add') > -1) {
        forms[x].addEventListener("submit", function (event) {
          // check if bta has loaded
          if (!this.classList.contains("bta-active")) {
            event.preventDefault();
          }
        }, true);
      }
    }
  });
	var bta = {
	  productId: {{ product.id }}
	}
</script>
{% assign bta_configured = true %}
{% endunless %}
{% endif %}