<section class="booking-form">
    <div class="booking-form__overlay">
        <span id="closeBookingForm"></span>
    </div>
    <div class="booking-form__content">

        <div class="booking-form__content-header">
            <span id="closeBookingForm"></span>
            <img loading="lazy" width="408" height="370" src="{{ '24k-logo.png' | asset_img_url: '500x' }}" alt="">
            <i id="goBack" class="fa fa-chevron-left"></i>
        </div>

        <div class="booking-form__content-step">
            <div class="booking-form__content-step-1 selected">
                <div class="booking-form__content-step-1-heading">
                    <h2>Appointment Preference</h2>

                </div>
                <div id="singleAppointment" class="booking-form__content-step-1-option">
                    <div class="booking-form__content-step-1-option__info">
                        <span class="title">Individual Appointment</span>
                        <small>Schedule Services For Yourself</small>
                    </div>
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>
            <div class="booking-form__content-step-2">
                <div class="booking-form__content-step-2-heading">
                    <h2>Menu</h2>
                </div>
                {% assign collectionOptions = collections %}
                {% for collection in collectionOptions %}
                <div data-id="{{ collection.id }}" class="booking-form__content-step-2-option collection-option">
                    <div data-id="{{ collection.id }}" class="booking-form__content-step-2-option__info">

                        <span data-id="{{ collection.id }}" class="title">{{ collection.title }}</span>

                    </div>
                    <i data-id="{{ collection.id }}" class="fa fa-chevron-right"></i>
                </div>
                {% endfor %}
            </div>
            <div id="collectionProducts" data-id="" class="booking-form__content-step-3">
                <div class="booking-form__content-step-3-heading">
                    <i id="stepBack" class="fa fa-chevron-left"></i>
                    <h2 id="stepBack"></h2>
                </div>
                {% render 'loading-icon' %}

            </div>
            <div id="formProduct" class="booking-form__content-step-4">
                <div class="booking-form__content-step-4-heading">
                    <i id="stepBack" class="fa fa-chevron-left"></i>
                    <h2>Manicures</h2>
                </div>
                <div class="booking-form__content-step-4-option__info">
                    <h3 class="product-title">Product</h3>
                    <p class="product-description">No Product Selected</p>
                </div>
                <div class="booking-form__content-step-4-option__staff">
                    <h4>Select your Professional</h4>
                    <div class="custom-select">
                        <select name="resource" id="staff-select">
                            <option value="">Select Your Preference Or Leave Blank</option>

                        </select>
                    </div>
                </div>
                <div class="product-btns">

                    <button class="go-to-cart hide">View Cart</button>
                    <button data-quantity="1" data-id="" data-title="" data-price="" class="product-atc">Add
                        {% render 'loading-icon' %}
                        $55</button>
                    <div class="cart-success">Added To Cart Successfully! <i class="fa fa-check-circle"></i></div>
                    <div class="cart-error">Oops! Looks Like There's An Error!<i class="fa fa-times-circle"></i>
                    </div>
                </div>
            </div>
            <div id="cartForm" class="booking-form__content-step-5">
                <div class="booking-form__content-step-5-heading">
                    <i id="stepBack" class="fa fa-chevron-left"></i>
                    <h2>Your Cart</h2>
                </div>
                <div class="booking-form__content-step-5-items">
                    {% render 'loading-icon' %}

                    <div class="item-wrapper">
                        <div class="title">Classic Manicure</div>
                        <div class="price">$35</div>
                    </div>

                </div>
            </div>
            <div id="dateSelector" class="booking-form__content-step-6">
                <div class="booking-form__content-step-6-heading">
                    <i id="stepBack" class="fa fa-chevron-left"></i>
                    <h2>Select Appointment Time</h2>
                    <i id="calendar" class="fa fa-calendar">
                    </i>
                    <form class="" id="dateSelection" action="">
                        <div class="calendar-container">
                            <div class="calendar-container_content">
                                <i id="previousMonth" class="fa fa-arrow-left"></i>
                                <h3 id="month"></h3>
                                <i id="nextMonth" class="fa fa-arrow-right"></i>

                                <div class="weekdays">
                                    <div>Sun</div>
                                    <div>Mon</div>
                                    <div>Tue</div>
                                    <div>Wed</div>
                                    <div>Thu</div>
                                    <div>Fri</div>
                                    <div>Sat</div>
                                </div>
                                <div class="calendar-container_content-days" id="days">

                                </div>
                                <div class="calendar-container_content-select-days">
                                    <h2>Selected Date: <span id="selectedDate">None Selected</span></h2>
                                </div>
                                <div class="calendar-container_content-time">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="booking-form__content-step-6-month">

                    <i id="prevDate" class="fa fa-chevron-left"></i>
                    <div class="date-month"></div>
                    <i id="nextDate" class="fa fa-chevron-right"></i>
                </div>
                <div class="booking-form__content-step-6-day">
                    <i id="prevDay" class="fa fa-chevron-left"></i>
                    <div class="date-day"></div>

                    <i id="nextDay" class="fa fa-chevron-right"></i>

                </div>

                {% render 'loading-icon' %}


                <div class="booking-form__content-step-6-time">
                    <div class="calendar-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/07-Time.png?v=1643237057"
                            alt="">
                        <span>Select A Date & Time For Your Appointment</span>
                    </div>
                    <form id="appointmentTime" action="">

                    </form>

                    <div class="select-time">
                        <button data-time="" class="select-time-btn hidden"></button>
                    </div>
                </div>
            </div>

            <div class="booking-form__content-step-7">
                <div class="booking-form__content-step-7-heading">
                    <h2>Review Your Booking</h2>
                </div>
                <div class="booking-form__content-step-7-location">
                    <div>Location</div>
                    <div></div>
                </div>
                <div class="booking-form__content-step-7-date">
                    <div>Date</div>
                    <div></div>
                </div>
                <div class="booking-form__content-step-7-time">
                    <div>Time</div>
                    <div></div>
                </div>
                <div class="booking-form__content-step-7-staff">
                    <div>Staff</div>
                    <div></div>
                </div>
                <div class="booking-form__content-step-7-items">
                    <div class="items-heading">
                        <span>Items</span><span>Cost</span>
                    </div>

                </div>
                <div class="booking-form__content-step-7-total">
                    <div>Total</div>
                    <div id="totalPrice">25$</div>
                </div>
                <div class="booking-form__content-step-7-btn">
                    <button id="toCustomerInfo"><span>25$</span>Next</button>
                </div>
            </div>
            <div class="booking-form__content-step-8">
                <div class="booking-form__content-step-8-heading">
                    <h2>Complete Your Booking</h2>
                </div>
                <div class="booking-form__content-step-8-form">
                    <div class="heading">Contact Info</div>
                    <form id="contactInfo" action="">
                        <div class="input">
                            <label for="firstName">First Name</label>
                            <input autocomplete="on" id="firstName" name="properties[firstName]" type="text">
                            <div class="form-error">
                                <span class="form-error-alert hide name">Please type in your first name. This field is
                                    required.</span>
                            </div>
                            <div class="form-success">
                                <span class="form-success-alert hide">Looks Good!</span>
                            </div>

                        </div>
                        <div class="input">
                            <label for="lastName">Last Name</label>
                            <input autocomplete="on" id="lastName" name="properties[lastName]" type=" text">
                            <div class="form-error">
                                <span class="form-error-alert hide name">Please type in your last name. This field is
                                    required.</span>
                            </div>
                            <div class="form-success">
                                <span class="form-success-alert hide">Looks Good!</span>
                            </div>
                        </div>
                        <div class="input">
                            <label for="email">Email</label>
                            <input autocomplete="on" id="email" name="properties[email]" type="text">
                            <small>So we can send you a confirmation for your order</small>
                            <div class="form-error">
                                <span class="form-error-alert hide email">Please type in your email. This field is
                                    required.</span>
                            </div>
                            <div class="form-success">
                                <span class="form-success-alert hide email">Looks Good!</span>
                            </div>
                        </div>
                        <div class="input">
                            <label for="phone">Phone</label>
                            <input autocomplete="on" id="phone" name="properties[phone]" type="text">
                            <small>So you get reminders about your Booking</small>
                            <div class="form-error">
                                <span class="form-error-alert hide phone">Please type in your phone number with area
                                    code. This field
                                    is
                                    required.</span>
                            </div>
                            <div class="form-success">
                                <span class="form-success-alert hide phone">Looks Good!</span>
                            </div>
                        </div>

                        <!-- <div class="input">
                            <label for="phone">Cell Phone</label>
                            <input id="phone" name="properties[phone]" type="text">
                            <small>Just in case we need to give you a call. Also, we'll send you a text message
                                reminder.</small>
                        </div> -->
                    </form>

                    <div id="customerBtn" class="customer-form-btn">
                        <button id="addCustomerInfo"><span id="priceCustomer"></span>
                            Submit</button>
                    </div>
                    <form action="{{ routes.cart_url }}" method="POST">
                        <div class="checkout">
                            <input aria-disabled="true" disabled="true" class="checkout-btn hide" type="submit"
                                name="checkout" value="Checkout">
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="cart-btns hide">
            <button class="add-more">Add More</button>
            <button class="set-date">Next</button>
        </div>
    </div>
    </div>
</section>

{%- liquid

for collection in collections
case collection.title
when 'Acrylic'
assign acrylicProducts = collection.products
assign acrylicProductsID = collection.id
when 'Additional Services'
assign addtionalServices = collection.products
assign addtionalServicesID = collection.id
when 'Dip Powder'
assign dipPowder = collection.products
assign dipPowderID = collection.id
when 'Manicure Add-ons'
assign manicureAddOns = collection.products
assign manicureAddOnsID = collection.id
when 'Manicures'
assign manicureProducts = collection.products
assign manicureProductsID = collection.id
when 'Pedicures'
assign pedicureProducts = collection.products
assign pedicureProductsID = collection.id
endcase
endfor

-%}


<script>

    const jsonCollection = {{ collections | json }}

    const acrylicProducts = {{ acrylicProducts | json }}
    const addtionalServices = {{ addtionalServices | json }}
    const dipPowder = {{ dipPowder | json }}
    const manicureAddOns = {{ manicureAddOns | json }}
    const manicureProducts = {{ manicureProducts | json }}
    const pedicureProducts = {{ pedicureProducts | json }}
    const acrylicProductsID = {{ acrylicProductsID }}
    const addtionalServicesID = {{ addtionalServicesID }}
    const dipPowderID = {{ dipPowderID }}
    const manicureAddOnsID = {{ manicureAddOnsID }}
    const manicureProductsID = {{ manicureProductsID }}
    const pedicureProductsID = {{ pedicureProductsID }}

    const collectionProducts = [
        {
            collection: "Acrylic",
            id: acrylicProductsID,
            products: acrylicProducts
        },
        {
            collection: 'Additional Services',
            id: addtionalServicesID,
            products: addtionalServices
        },
        {
            collection: "Dip Powder",
            id: dipPowderID,
            products: dipPowder
        },
        {
            collection: "Manicure Add-ons",
            id: manicureAddOnsID,
            products: manicureAddOns
        },
        {
            collection: "Manicures",
            id: manicureProductsID,
            products: manicureProducts
        },
        {
            collection: "Pedicures",
            id: pedicureProductsID,
            products: pedicureProducts
        }
    ]
    console.log(jsonCollection);

</script>