<section class="cart">

    <div class="cart__content">
        <form id="checkoutForm" method="POST" action="{{ routes.cart_url }}">
            {% for item in cart.items %}
            <div class="line-item">
                {{ item | image_url: width: 1080, height: 1080 | image_tag: srcset: nil, class: "line-item-img" }}
                <h2 class="line-item-title">
                    {{ item.title }}
                </h2>
                <span class="line-item-price">{{ item.price | money }}</span>
                {% unless line_item.properties == empty %}
                <ul>
                    {% for property in item.properties %}
                    {% if property.first == 'Start' %}
                    <li>{{ property.first | replace: 'Start', 'Appointment Date & Time'}}: {{ property.last | time_tag |
                        remove: '-0500'}}</li>
                    {% else %}
                    <li>{{ property.first | replace: 'booking-name', 'Client Name' | replace: 'phone', 'Phone
                        Number' | replace: 'email', 'Email'}}: {{ property.last }}</li>
                    {% endif %}

                    {% endfor %}
                </ul>
                {% endunless %}
                <p class="line-item-review">
                    Please check that all information above is correct before proceeding to checkout. We don't want you
                    to miss out on reminders for your appointment!
                </p>
                <a class="btn btn-primary-outline" href="{{ item.url_to_remove }}">Remove</a>
            </div>

            {% endfor %}
            <div class="cart__content-total">
                <h3>
                    Cart Total: <strong>{{ cart.total_price | money }}</strong>
                </h3>
            </div>
            <input class="btn btn-primary" type="submit" name="checkout" value="Checkout">
        </form>
    </div>
</section>

<script defer src="{{ 'cart.js' | asset_url }}"></script>

{% schema %}
{
"name": "main_cart",
"settings": [
]
}
{% endschema %}