<div class="collection">
    <h1>{{ collection.title }}</h1>
    <p></p>
    <div class="collection__content">

        {% for product in collection.products %}
        <div class="collection__content-product">
            <a href="{{ product.url }}" class="collection__content-product-btn">
                <h2 class="collection__content-product--title">{{ product.title }}</h2>
                <span class="collection__content-product--price">Book Your Appointment {{ product.price | money
                    }}</span>
            </a>
        </div>
        {% endfor %}

        <!-- <input form="appointment-form" class="btn btn-primary" type="submit" value="Add to cart"> -->
        <!-- <a href="/collections/pedicures" class="btn btn-secondary">Go To Pedicures</a>
        <a href="/collections/additional-services" class="btn btn-secondary">Go To Additional Services</a> -->
    </div>
</div>

<script defer src="{{ 'collection.js' | asset_url}}"></script>



{% schema %}
{
"name": "main_collection",
"settings": [
]
}
{% endschema %}