{% render 'no-overflow'%}




<section class="map{% if page.title == 'Locations' %}-page{% endif %}">
    <h2 class="map__title">Location</h2>
    <div class="map__content">
        <div id="map" class="map__content-container"></div>
        <div class="map__content-info">
            <h3>Address</h3>
            <address class="address">{{ shop.address.street }}, {{ shop.address.city }} {{ shop.address.province }}
            </address>
            <p>Right
                Next
                To Insomnia Cookie </p>
        </div>
    </div>
</section>
<script defer="defer" src="{{ 'leaflet.js' | asset_url }}"></script>
<script defer="defer" src="{{ 'map.js' | asset_url }}"></script>

{% schema %}
{
"name": "main_map",
"settings": [
]
}
{% endschema %}