<div class="collection">
    <h1>{{ collection.title }}</h1>
    <p>Select the services you want and click the "Add To Cart" button at the bottom of the page to add them to your
        cart. Once you've added all your services you'll be able to set
        up your appointment time and date as you checkout. </p>
    <div class="collection__content">

        {% for product in collection.products %}
        {% form 'product', product, id: 'appointment-form', class: 'product_form' %}
        <div class="collection__content-product">
            <h2 class="collection__content-product--title">{{ product.title }}</h2>
            <span class="collection__content-product--price">{{ product.price | money }}</span>
            <label class="switch" for="{{ product.title | handleize }}">

                <input class="product_input" id="{{ product.title | handleize }}" name="id" form="appointment-form"
                    type="checkbox" value="{{ product.first_available_variant.id }}">

                <span class="slider round"></span>
            </label>
            <input form="appointment-form" type="hidden" name="quantity" value="1">
        </div>
        {% endform %}
        {% endfor %}
        <input form="appointment-form" class="btn btn-primary" type="submit" value="Add to cart">
        <a href="/collections/pedicures" class="btn btn-secondary">Go To Pedicures</a>
        <a href="/collections/additional-services" class="btn btn-secondary">Go To Additional Services</a>
    </div>
</div>

<script defer src="{{ 'collection.js' | asset_url}}"></script>



{% schema %}
{
"name": "main_collection",
"settings": [
]
}
{% endschema %}