{%- assign sorts = section.settings.sort -%}

{%- liquid
case sorts
when 'products_high' or 'products_low'
assign collections = collections | sort: 'all_products_count'
when 'date' or 'date_reversed'
assign collections = collections | sort: 'published_at'
endcase

if sorts == 'products_high' or sorts == 'date_reversed' or sorts == 'alphabetical_reversed'
assign collections = collections | reverse
endif
-%}

<section class="list-collection">
    <div class="list-collection-title">
        <img src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/nail-design-image.jpg?v=1640633470" alt="">
        <h1>Our Services</h1>
    </div>
    <div class="list-collection__content">
        <div class="list-collection__content-collections">
            <form action="">
                {% for collection in collections %}

                <div class="collection__option">
                    <label for="{{collection.title}}" class="collection__option-btn">
                        <h2>{{ collection.title }}</h2>
                        <i class="fa fa-plus"></i>
                    </label>
                    <input type="checkbox" id="{{collection.title}}" />
                    <div class="collection__option-products ">
                        {% for product in collection.products %}
                        <div class="collection__option-products__container">
                            <div class="product-title">
                                <h3>{{ product.title }}</h3>
                                <span>{{ product.price | money}}</span>
                            </div>
                            <div class="product-info">
                                <p>{{ product.content }}</p>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <!-- {% render 'flower-heads' %} -->
</section>

{% render 'sticky-btn' %}


{% schema %}
{
"name": "main_list-collection",
"settings": [
{
"type": "select",
"id": "sort",
"label": "Sort Collection List",
"options": [
{
"value": "alphabetical",
"label": "Alphabetical"
},
{
"value": "alphabetical_reversed",
"label": "Alphabetical Reversed"
},
{
"value": "date_reversed",
"label": "Date Reversed"
},
{
"value": "date",
"label": "Date"
},
{
"value": "products_high",
"label": "Highest Price"
},
{
"value": "products_low",
"label": "Lowest Price"
}
],
"default": "date"
}
]
}
{% endschema %}